<div class="container">
 <div class="jumbotron">
	<h1><strong>Welcome to Cup!</strong></h1>
	<h2><strong><i>Third wave Ccoffee Shop</i></strong></h2>
	<h3><strong><i>Yeni Nesil Kahvecilik  </i></strong><%= link_to "Nedir?", third_wave_coffee_path, class: "btn btn-success" %></h3>
 </div>
		<strong><p>In Japanese, the word kodawari roughly means "a sincere, unwavering focus on what you're doing, with a goal of making it perfect, while simultaneously knowing that perfection is impossible and that the work itself is most crucial." It's often used as a means of flattery to describe the sort of individual who spends a lifetime devoted to his or her craft. Without slathering on too much pressure here, we'd like to gently posit that such attention ought to be paid to the ritual of brewing coffee at home.</p></strong>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag("https://s3.amazonaws.com/cupcoffee/Coffee_images/knitgloves.jpg", alt: "Sample") %>
      <div class="caption">
        <h4>Coffee label</h4>
        <p>Third wave coffee shop</p>
        <p><%= link_to "Coffee", third_wave_coffee_path, class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
</div>

</div>



