<footer class="footer navbar-static-bottom">
	<div class="container">

  <nav>
    <div class="navbar-footer">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Thirdwave Coffee Nedir?", third_wave_coffee_path %></li>
      <li><%= link_to "Kahvelerimiz", kahvelerimiz_path %></li>
      <li><%= link_to "Çaylarımız", caylarimiz_path %></li>
      <li><%= link_to "Menü", menu_path %></li>
     
    </ul>
  </div>
  </nav>
</footer>
